$color-background: (
  bg-01: #f8f9fa
);

$color: (
  black-01: #242428,
  gray-01: #62676c,
  gray-02: #cccccc,
  red-01: #fa2828
);

$color-line : (
  line-01: #CFD0D7,
  line-02: #ecedf2,
  line-03: #dcdde1
);