@import './font.scss';
@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';
@import './table.scss';

#footer {
  border-top: 1px solid map-get($color, black-01);
  font-family: "Noto Sans KR";

  .footer_menu_wrap {
    padding: 15px 0 17px;
    border-bottom: 1px solid map-get($color-line, line-02);

    .footer_menu {
      width: 1120px;
      margin: 0 auto;
      @include flex(center, start);

      &_item {
        @include flex(center, center);
        line-height: 18px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.39px;

        &.text_bold {
          font-weight: 700;
        }

        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 12px;
          margin: 0 20px;
          background-color: map-get($color-line, line-01);
        }
      }
    }
  }

  .footer_contents {
    width: 1120px;
    margin: 0 auto;

    .company_info_wrap {
      margin-top: 26px;
    }
  }
}