@font-face {
  font-family: "Noto Sans KR', sans-serif";
  src: url("../font/NotoSansKR-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Noto Sans KR', sans-serif";
  font-weight: 700;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.table {
  margin: 0 auto;
  font-size: 14px;
  border-top: 1px solid #CFD0D7;
}
.table th {
  background-color: #f8f9fa;
  color: #62676c;
}
.table_01 {
  margin-bottom: 100px;
}
.table_01 thead tr th {
  padding: 14px 0;
  border-top: 1px solid #CFD0D7;
}
.table_01 tbody tr td {
  padding: 12px 0 15.63px 0;
  text-align: center;
  color: #62676c;
}
.table_01 tbody tr td:first-of-type {
  padding-left: 7.5px;
}
.table_01 tbody tr td:last-of-type {
  padding-right: 7.5px;
}
.table_01 th, .table_01 td {
  line-height: 20px;
  font-weight: 700;
}
.table_02 {
  width: 1120px;
  margin-bottom: 100px;
  font-weight: 400;
}
.table_02 tbody tr {
  border-bottom: 1px solid #ecedf2;
}
.table_02 tbody th {
  padding: 9.72px 8px 9.72px 18px;
  text-align: left;
  font-weight: 400;
}
.table_02 tbody td {
  padding: 14px 0 14px 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.table_02 tbody td.product_name, .table_02 tbody td.transport {
  font-family: "Noto Sans KR", sans-serif;
}
.table_02 tbody td.start_schedule .finish_box, .table_02 tbody td.finish_schedule .finish_box {
  text-align: right;
  width: 219px;
}
.table_02 tbody td.start_schedule .title, .table_02 tbody td.finish_schedule .title {
  line-height: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #62676c;
}
.table_02 tbody td.start_schedule .schedule, .table_02 tbody td.finish_schedule .schedule {
  line-height: 16px;
  margin-top: 10px;
  font-size: 15px;
}
.table_02 tbody td.start_schedule .schedule span, .table_02 tbody td.finish_schedule .schedule span {
  line-height: 20px;
  font-size: 11px;
  color: #cccccc;
}
.table_02 tbody td.schedule {
  text-align: center;
}
.table_02 tbody td.schedule span {
  line-height: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
.table_02 tbody td.schedule, .table_02 tbody td.finish_schedule {
  padding-left: 0;
}
.table_02 tbody td li {
  line-height: 26px;
}
.table_02 tbody td li span {
  font-size: 11px;
}
.table_02 tbody td li.color_point {
  color: #fa2828;
}
.table_02 tbody td > span {
  line-height: 22px;
}
.table_03 {
  font-weight: 400;
}
.table_03 tbody tr {
  border-bottom: 1px solid #ecedf2;
}
.table_03 tbody tr th, .table_03 tbody tr td {
  line-height: 22px;
  padding: 7px 8px 7px 18px;
  text-align: left;
  vertical-align: top;
}
.table_03 tbody tr .schedule {
  line-height: 22px;
  font-size: 14px;
}
.table_03 tbody tr .schedule span {
  line-height: 22px;
  font-size: 11px;
  color: #cccccc;
}
.table_03 tbody tr .inclusion > ul > li, .table_03 tbody tr .not_inclusion > ul > li {
  position: relative;
  padding-left: 4px;
}
.table_03 tbody tr .inclusion > ul > li::before, .table_03 tbody tr .not_inclusion > ul > li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 2px;
  height: 2px;
  background-color: #62676c;
}
.table_03 tbody tr .detail > button {
  line-height: 18px;
  padding: 4px 12px 6px;
  border: 1px solid #dcdde1;
  border-radius: 6px;
  font-size: 13px;
  letter-spacing: -0.39px;
}